{% extends "admin_base.html" %}

{% block admin_content %}
<div class="container mt-4">
    <h2>View All Leases</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Property Address</th>
                <th>Unit Number</th>
                <th>Lease Start Date</th>
                <th>Lease End Date</th>
                <th>Rent Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for lease in leases %}
                <tr>
                    <td>{{ lease.user.username }}</td>
                    <td>{{ lease.property.address }}</td>
                    <td>{{ lease.unit_no }}</td>
                    <td>{{ lease.lease_start }}</td>
                    <td>{{ lease.lease_end }}</td>
                    <td>{{ lease.rent_rate }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
